server:
  port: 8080
spring:
  redis:
    host: 127.0.0.1
    port: 6379
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/secdra?useSSL=false&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2b8
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  data:
    elasticsearch:
      cluster-nodes: 127.0.0.1:9300
      cluster-name: elasticsearch
  main:
    allow-bean-definition-overriding: true
base:
  registerVerificationCodePrefix: register_verification_code:%s
  forgetVerificationCodePrefix: forget_verification_code:%s
  verificationCodeTimeout: 300000
  jwtExpiresSecond: 5184000000
  jwtSecretString: www.secdra.com
  updatePasswordTimePrefix: base:update_password_time:%s
  notUUID: 00000000000000000000000000000000
  qiniuAccessKey: XXX
  qiniuSecretKey: XXX
  qiniuTempBucket: temporary
  qiniuHeadBucket: head
  qiniuBackBucket: background
  qiniuBucket: secdra
  qiniuTempBucketUrl: http://secdratemp.secdra.com
  qiniuHeadBucketUrl: http://secdrahead.secdra.com
  qiniuBackBucketUrl: http://secdraback.secdra.com
  qiniuBucketUrl: http://secdraimg.secdra.com